h1{
font-size: 50pt;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif                                                                                                                                                           ;
}
h2{
    font-size: 42pt;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif                                                                                                                                                           ;
   margin: 10px;
}
p{
 font-size: 100pt;   
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin: 0;
}      

.div-1{ 
    margin: 150px;
    border-radius: 100px;  
    padding: 30px;
    border:10px solid rgb(148, 209, 139);
}
.div-1 {
    animation: colorChange 5s infinite;
    display: flex;
}

@keyframes colorChange {
    0% {
        border-color: red;
    }
    25% {
        border-color: yellow;
    }
    50% {
        border-color: rgb(6, 255, 6);
    }
    75% {
        border-color: blue;
    }
    100% {
        border-color: rgb(255, 0, 242);
    }
}
.video{
    border : 35px solid rgb(0, 183, 255);
    border-radius: 30pt; 
    animation: colorChange 5s infinite;
}

